<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITS-ACM</title>
    <link rel='shortcut icon' type='image/x-icon' href='media/acm_logo-18.png' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/achievements.css">
</head>

<body>

    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"> 
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav navbar-right">
                           <!-- <li><a href="index.html">HOME</a></li>
                            <li><a href="sig.html">SIG</a></li>
                            <li><a href="https://bitsacm.github.io/">BLOG</a></li>
                            <li><a href="events.html">EVENTS</a></li>
                            <li><a href="members.html">MEMBERS</a></li>
                            <li class="active-page"><a href="#">ACHIEVEMENTS</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <script id="brand-logo" type="text/html">
            <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" width="80px" alt="">
        </script>

        <script type="text/html" id="navbar-list-item">
            <li><a href="{% templatetag openvariable %}url{% templatetag closevariable %}">{% templatetag openvariable %}title{% templatetag closevariable %}</a></li>
        </script>


        <div class="event-landing-container">
            <!-- <div class="page-title"><span>Achievements</span></div> -->
        </div>

        <script type="text/html" id="landing_screen">
            <div class="page-title"><span>{% templatetag openvariable %}title{% templatetag closevariable %}</span></div>
        </script>

        <script type="text/html" id="odd-achievement-section">
            
            <div class="achievements-container odd-section">
                <div class="container">

                    <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

                 <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

            </div>
        </div>
            
        </script>

        <script type="text/html" id="even-achievement-section">

            <div class="achievements-container even-section">
                <div class="container">

                    <div class="achievement events-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

                <div class="achievement events-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>{% templatetag openvariable %}content{% templatetag closevariable %}</p>
                    </div>
                </div>
                <hr>

            </div>
        </div>        

        </script>

        <div class="achievement-section-container">
        </div>

        <!--<div class="achievements-container odd-section">
            <div class="container">

                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/RecruitmentProgram_2018.png" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>BITS-ACM is the winner of the Best Recruitment Model award for 2017.</p>
                    </div>
                </div>
                <hr>

                <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/acm_logo-18.png" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>BITS-ACM has won the best ACM student chapter award consecutively for years 2013, 2014, 2015
                            and 2016.</p>
                    </div>
                </div>
                <hr>

                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/gsoc.png" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>BITS-ACM is proud to have had six of its members selected for <b>GSOC-18</b></p>
                        <p> Congratulations to Apurv Bajaj, Divesh Uttamchandani, Manan Agarwal, Neethu Mariya Joy,
                            Rahul Bothra and Sombuddha Chakravarty for the achievement.</p>
                    </div>
                </div>
                <hr>

            </div>

        </div>



        <div class="achievements-container even-section">
            <div class="container">

                <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Cheral_Khandediya.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Cheral Khandediya (Ex-Sec, BITS-ACM) was awarded the SIGCOMM Student Scholarship for Turing
                            Conference in Silicon Valley. Interned at AT&T Bell Labs.</p>
                    </div>
                </div>
                <hr>

                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Poonam_Mishra.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Poonam Mishra (Active Member, BITS-ACM) was accepted for GSOC'17 and worked with Systers, an
                            Anita Borg Institute community, on Automated Unit Testing(MACC).</p>
                    </div>
                </div>
                <hr>

                <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Ameesha_Mittal.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Ameesha Mittal (Ex-Joint Activities Cod., BITS-ACM) is a Google Anita Borg Scholar. She
                            interned at Fraunhofer SCAI, Germany, on Application Developement and Data Mining and has
                            also interned at Facebook, London.</p>
                    </div>
                </div>
                <hr>
                
            </div>
        </div>

        <div class="achievements-container odd-section">
            <div class="container">
                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Partho_Sarthi.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Partho Sarthi (Active Member, BITS-ACM) was accepted for GSOC'17 with AOSSIE (Australian
                            Open Source Software Innovation and Education).</p>
                    </div>
                </div>
                <hr>
                <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Rohan_Saxena.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Rohan Saxena (Active Member, BITS-ACM) was accepted for GSOC'17 with Red Hen Labs. He was
                            one of the 50 students selected globally to carry out research in Bentley University,
                            Boston under Dr.Stephen Wolfram, Founder of Wolfram Research and creator of Wolfram Alpha
                            and Mathematica.</p>
                    </div>
                </div>
                <hr>
                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Mihir_Deshmukh.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Mihir Deshmukh (Ex-Chair, BITS-ACM) did an internship at a Silicon Valley Startup.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="achievements-container even-section">
            <div class="container">
                <div class="achievement even-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Divakar_Verma.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Divakar Verma (Ex-Chair, BITS-ACM) interned at University of Melbourne for building
                            computational models of language processing.</p>
                    </div>
                </div>
                <hr>
                <div class="achievement odd-achievement">
                    <div class="achievement-image-container">
                        <img class="achievement-image" src="./media/members/Hardik_Malhotra.jpg" alt="">
                    </div>
                    <div class="achievement-body">
                        <p>Hardik Malhotra (Ex-Chair, BITS-ACM) has interned at various foreign institutions like
                            Centrale Supelec Metz - France, ICDA - Ireland, NUS Singapore and as a Financial Consultant
                            at WorldQuaint. Placed at Amazon, India.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>-->

        `<!-- Scripts for contact section -->

        <script type="text/html" id="contact-section-about">
            <div class="about-footer">
                <div class="about-footer-title">
                    <h4>{% templatetag openvariable %}title{% templatetag closevariable %}</h4>
                    <hr>
                    <p>{% templatetag openvariable %}content{% templatetag closevariable %} </p>
                </div>
            </div>
        </script>

        <script type="text/html" id="contact_section_link">
            <li><a href="{% templatetag openvariable %}url{% templatetag closevariable %}"> <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt=""></a></li>
        </script>



        <div class="contact-section odd-section">
            <div class="about-footer">
                <div class="about-footer-title">
                    <h4>BITS-ACM</h4>
                    <hr>
                    <p>This year BITS-ACM student chapter has 70 core team members and has nurtured more than 650 alumni since
                            its inception in 2008. </p>
                </div>
            </div>
            <div class="follow-us">
                <h4> Follow us on </h4>
                <hr>
                <ul class="contact_section_links_container">
                    <li><a href="https://www.facebook.com/bitsacm/"> <img src="./media/facebook.png" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/bitsacm"> <img src="./media/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://github.com/bitsacm"><img src="./media/github-dark.png" alt=""></a></li>
                    <li><a href="https://bitsacm.github.io/"> <img src="./media/blogger.png" alt="blog"></a></li>
                </ul>
                <hr>
            </div>

            <div class="contact-us">
                <div>
                    <h4> Where to find us </h4>
                    <p><img src="./media/blue-location.png" height="16px" width="16px" alt=""> BITS Pilani, Vidyavihar
                        Campus, Pilani, Rajasthan, 333031 </p>
                    <hr>
                </div>
                <div>
                    <h4> Email us at </h4>
                    <a class="email-link" href="mailto:bitsacm.acm@gmail.com"><p> <img src="./media/gmail-logo.png" alt=""> bitsacm.acm@gmail.com </p></a>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="{% static 'js/page_data/achievements.js' %}"></script>
<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
