<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITS-ACM</title>
    <link rel='shortcut icon' type='image/x-icon' href='media/acm_logo-18.png' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/events.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"> <img src="media/acm_logo-17.png" width="80px" alt="">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="sig.html">SIG</a></li>
                            <li><a href="https://bitsacm.github.io/">BLOG</a></li>
                            <li class="active-page"><a href="#">EVENTS</a></li>
                            <li><a href="members.html">MEMBERS</a></li>
                            <li><a href="achievements.html">ACHIEVEMENTS</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="event-landing-container">
            <div class="page-title"><span>Events</span></div>
        </div>

        <div>
            <div class="event-section odd-section" id="checkmate">
                <div class="container">
                    <div class="event-title"><span>Checkmate</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/checkmate.png" alt=""></div>
                    <div class="event-body">
                        <p>Checkmate is a fun event hosted by BITS-ACM twice during the last year. The first checkmate
                            was a quizzing event. Whereas the second checkmate, was a 3d game developed using Unity and
                            combined fun with logical puzzles. The total prizes were upto Rs. 5k and the event saw an
                            overwhelming participation of 200+ participants
                        </p>
                        <br>
                        <p> Links:
                            <ul>
                                <li><a href="https://github.com/bitsacm/Checkmate-18 ">Checkmate-18 Summer
                                    </a></li>
                                <li><a href="https://github.com/shubhamDev73/checkmate2018/">Checkmate-18 Winter</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section even-section" id="stock_market_simulation">
                <div class="container">
                    <div class="event-title"><span>Stock Market Simulation</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/stock_market_simulation.jpg"
                            alt=""></div>
                    <div class="event-body">
                        <p>SMS was another kernel event of APOGEE with the prize worth INR 80k. It was hosted online
                            continuously for 4 days through a mobile app, where anyone could register and trade, given
                            the market situation. On the last day a final round was held which was open to all. One has
                            to buy or sell stocks given some NEWS clippings and a dynamic market through the mobile app
                            developed by ACM members. </p>
                        <br>
                        <p>Links:
                            <ul>
                                <li><a href="https://github.com/bitsacm/SMS-18 ">SMS-18</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section odd-section" id="defrag">
                <div class="container">
                    <div class="event-title"><span>Defrag</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/defrag.jpeg" alt=""></div>
                    <div class="event-body">
                        <p>Defrag was one of the kernel events of ACM organised during APOGEE-2018, the technical fest
                            of BITS, Pilani.
                            It is a series of technical lectures on various topics in mathematics and computer science.
                            After a hugely successful inaugural edition with talks on blockchain and virtual
                            storytelling in 2017, Defrag’18 witnessed talks on topics like computer vision, polynomial
                            automorphism, privacy in social media among others.
                        </p>
                        <p>
                            The key speaker on the event was <b><i>Dr. David G. Stork</i></b>, a renowned researcher
                            and scientist in
                            the field of computer vision, Dr. Stork engaged an audience of more than 750 people. The
                            other key speakers included eminent personalities from computer science and mathematical
                            backgrounds including Dr. Neena Gupta, Dr. P Kumaragura, Dr. Sachin Lodha and Mr. Abhishek
                            Syal.
                        </p>
                        <p> Defrag'18 was thus a huge success</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="event-section even-section" id="gsoc-session">
                <div class="container">
                    <div class="event-title"><span>Interactive Session on GSOC</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/gsoc.jpg" alt=""></div>
                    <div class="event-body">
                        <p>In order to promote the culture of open source programming amongst BITSIANS, ACM organised
                            an interactive session on - Google Summer of Code (GSoC). The talk was given by three
                            previous year GSoCers and saw an overwhelming participation of around 350+ students. The
                            aim of the session was to increase awareness about GSoC. It also gave students an
                            opportunity to interact with previous GSoCers and gain more insight into their firsthand
                            experience.
                        </p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="event-section odd-section" id="coderelay">
                <div class="container">
                    <div class="event-title"><span>Coderelay</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/coderelay.png" alt=""></div>
                    <div class="event-body">
                        <p><b>Code Relay </b> was a competitive coding event with a twist. One could participate in
                            teams of 2
                            and each team was given 4 competitive programming problems to solve. Just like a relay
                            race, After every 15 minutes the screens of the 2 members would automatically swap. And the
                            team members have to complete the code written by the other without any communication
                            between them. The entire interface for the competition was designed by BITS-ACM team
                            members</p>
                        <br>
                        <p>Links:
                            <ul>
                                <li><a href="https://github.com/bitsacm/Coderelay-18">Coderelay-18</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section even-section" id="machine-learning-hackathon">
                <div class="container">
                    <div class="event-title"><span>Machine Learning Hackathon</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/ml-sig.png" alt=""></div>
                    <div class="event-body">
                        <p>This year the BITS-ACM machine learning hackathon was conducted in association with <i><b>Exonn
                                    Mobil</b></i> . Students were given a problem statement and were required to submit
                            their solution
                            on a portal. An introductory lecture on machine learning and a discussion on the problem
                            statement was conducted by executives from exonn mobil. The prices for the hackathon went
                            upto Rs. 80k and were sponsored by the oil major. Previous editions of the BITS-ACM ML
                            Hackathon have also seen major sponsors like MapMyIndia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section odd-section" id="internation-coding-league">
                <div class="container">
                    <div class="event-title"><span>International Coding League</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/icl-2018.jpg" alt=""></div>
                    <div class="event-body">
                        <p>BITS-ACM conducted ICL during APOGEE 2018 that was an online rated competitive coding
                            competition on Codechef inviting participants from all over the world. The round consisted
                            of algorithmic problems of varying difficulty. The problems were designed by BITS-ACM
                            members and saw a great response.</p>
                        <br>
                        <p>Links:
                            <ul>
                                <li><a href="https://www.codechef.com/ICL2018">ICL-2018</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section even-section" id="apogee-session">
                <div class="container">
                    <div class="event-title"><span>Brainstorming Sessions</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="" alt=""></div>
                    <div class="event-body">
                        <p>In order to encourage participation of students in technical paper and project presentation
                            competitions that are organised during APOGEE,the tech-fest of BITS Pilani, BITS-ACM
                            organised an open-to-all Brainstorming session. The session opened with a brief talk given
                            by previous year project and paper presentation winners. It was meant to give an insight
                            into the process of writing a technical paper or developing and working on a project idea.
                            This was followed by a brainstorming session where the participants discussed various ideas
                            for computing related projects. The take-home from the session was not only the great ideas
                            but also a strongly motivated and computing enthusiastic peer group.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section odd-section" id="hour-of-code">
                <div class="container">
                    <div class="event-title"><span>Hour of Code</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="media/Difference-Between-a-Programmer-Coder-Developer-and-Software-Engineer..png" alt=""></div>
                    <div class="event-body">
                        <p>
                            As a part of its initiative to spread computer education to the grassroots, ACM has planned
                            its hour of code workshops in schools. The Hour of Code is a global initiative to educate
                            and expose children of all ages to the field of Computer Science in a fun learning manner.
                            The hour of code opened with a presentation on the awesome stuff that can be done using
                            computers. This was followed by a 1-1.5 hour hands on session where the students can work
                            on an interesting project, with the BITS-ACM team members there to help them.
                            Students were introduced to python programming in a fun way through the “Draw a landscape”
                            activity.
                            Hour of code has been conducted in three schools including the Birla Balika Vidyapeeth,
                            Birla Shishu Vihar and Jamuna Mishra school in Pilani.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-section even-section contact-section-even">
            <div class="about-footer">
                <div class="about-footer-title">
                    <h4>BITS-ACM</h4>
                    <hr>
                    <p>This year BITS-ACM student chapter has 70 core team members and has nurtured more than 650 alumni since
                            its inception in 2008. </p>
                </div>
            </div>
            <div class="follow-us">
                <h4> Follow us on </h4>
                <hr>
                <ul>
                    <li><a href="https://www.facebook.com/bitsacm/"> <img src="./media/facebook.png" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/bitsacm"> <img src="./media/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://github.com/bitsacm"><img src="./media/github-light.png" alt=""></a></li>
                    <li><a href="https://bitsacm.github.io/"> <img src="./media/blogger.png" alt="blog"></a></li>
                </ul>
                <hr>
            </div>
            <div class="contact-us">
                <div>
                    <h4> Where to find us </h4>
                    <p><img src="./media/blue-location.png" height="16px" width="16px" alt=""> BITS Pilani, Vidyavihar
                        Campus, Pilani, Rajasthan, 333031 </p>
                    <hr>
                </div>
                <div>
                    <h4> Email us at </h4>
                    <a class="email-link" href="mailto:bitsacm.acm@gmail.com">
                        <p> <img src="./media/gmail-logo.png" alt=""> bitsacm.acm@gmail.com </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>