<!DOCTYPE html>
<html lang="en">

{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITS-ACM</title>
    <link rel='shortcut icon' type='image/x-icon' href='{% static "media/acm_logo-18.png" %}' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/members.css' %}">
</head>

<script id="context" type="text/html">
        {{page_url}}
    </script>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"> 
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <script id="brand-logo" type="text/html">
            <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" width="80px" alt="">
        </script>

        <script type="text/html" id="navbar-list-item-active">
            <li class="active-page"><a href="{% templatetag openvariable %}url{% templatetag closevariable %}">{% templatetag openvariable %}title{% templatetag closevariable %}</a></li>
        </script>

        <script type="text/html" id="navbar-list-item">
            <li><a href="{% templatetag openvariable %}url{% templatetag closevariable %}">{% templatetag openvariable %}title{% templatetag closevariable %}</a></li>
        </script>

        <script type="text/html" id="member-page-heading">
            <h1>{% templatetag openvariable %}title{% templatetag closevariable %}</h1> <br>
        </script>

        <script type="text/html" id="member-page-subheading">
                    <h3>{% templatetag openvariable %}title{% templatetag closevariable %}</h3>
                <hr><br>
            </script>

        <script type="text/html" id="postholder-member">
            <div class="member-container">
                        <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="no image" class="postholder-img-container">
                        <div class="img-caption">
                            {% templatetag openvariable %}content{% templatetag closevariable %}
                        </div>
            </div>
        </script>

        <script type="text/html" id="core-member">
            <div class="member-container">
                        <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt="no image" class="postholder-img-container">
                        <div class="img-caption">
                            {% templatetag openvariable %}content{% templatetag closevariable %}
                        </div>
                    </div>
        </script>


            <div class="members-container container">

                <span class="members-container-title">
                    <!--<h1>BITS-ACM Members 2018-19</h1> <br>-->
                </span>

                <span class="subheading-1">
                   <!-- <h3>Postholders</h3> 
                    <hr><br>-->
                </span>
                

                <div class="postholders-members-container">
                </div>

                <br>

                <span class="subheading-2">
                  <!-- <h3> Core Team Members</h3>
                     <hr> <br>-->
                </span>

                <div class="core-team-container postholders-members-container">
                </div>

            </div>
        

        <script type="text/html" id="contact-section-about">
            <div class="about-footer">
                <div class="about-footer-title">
                    <h4>{% templatetag openvariable %}title{% templatetag closevariable %}</h4>
                    <hr>
                    <p>{% templatetag openvariable %}content{% templatetag closevariable %} </p>
                </div>
            </div>
        </script>

        <script type="text/html" id="contact_section_link">
            <li><a href="{% templatetag openvariable %}url{% templatetag closevariable %}"> <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt=""></a></li>
        </script>

        <script type="text/html" id="where_to_find_us">
            <h4> {% templatetag openvariable %}title{% templatetag closevariable %} </h4>
                    <p><img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" height="16px" width="16px" alt=""> {% templatetag openvariable %}content{% templatetag closevariable %} </p>
                    <hr>
        </script>

        <script type="text/html" id="email_us">
            <h4> {% templatetag openvariable %}title{% templatetag closevariable %}  </h4>
                    <a class="email-link" href="{% templatetag openvariable %}url{% templatetag closevariable %}">
                        <p> <img src="{% templatetag openvariable %}image_url{% templatetag closevariable %}" alt=""> {% templatetag openvariable %}content{% templatetag closevariable %}  </p>
                    </a>
        </script>

        <div class="contact-section even-section contact-section-even">
            <!--<div class="about-footer">
                <div class="about-footer-title">
                    <h4>BITS-ACM</h4>
                    <hr>
                    <p>This year BITS-ACM student chapter has 70 core team members and has nurtured more than 650 alumni since
                            its inception in 2008. </p>
                </div>
            </div>-->
            <div class="follow-us">
                <h4> Follow us on </h4>
                <hr>
                <ul class="contact_section_links_container">
                    <!--<li><a href="https://www.facebook.com/bitsacm/"> <img src="./media/facebook.png" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/bitsacm"> <img src="./media/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://github.com/bitsacm"><img src="./media/github-light.png" alt=""></a></li>
                    <li><a href="https://bitsacm.github.io/"> <img src="./media/blogger.png" alt="blog"></a></li>-->
                </ul>
                <hr>
            </div>
            <div class="contact-us">
                <div class="whereToFindUs">
                    <!--<h4> Where to find us </h4>
                    <p><img src="./media/blue-location.png" height="16px" width="16px" alt=""> BITS Pilani, Vidyavihar
                        Campus, Pilani, Rajasthan, 333031 </p>
                    <hr>-->
                </div>
                <div class="emailUs">
                    <!--<h4> Email us at </h4>
                    <a class="email-link" href="mailto:bitsacm.acm@gmail.com">
                        <p> <img src="./media/gmail-logo.png" alt=""> bitsacm.acm@gmail.com </p>
                    </a>-->
                </div>
            </div>
        </div>
    </div>


</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="{% static 'js/page_data/members.js' %}"></script>
    <script src="{% static 'js/page.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
