<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITS-ACM</title>
    <link rel='shortcut icon' type='image/x-icon' href='media/acm_logo-18.png' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/events.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="navbar-container">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"> <img src="media/acm_logo-17.png" width="80px" alt="">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">HOME</a></li>
                            <li class="active-page"><a href="#">SIG</a></li>
                            <li><a href="https://bitsacm.github.io/">BLOG</a></li>
                            <li><a href="events.html">EVENTS</a></li>
                            <li><a href="members.html">MEMBERS</a></li>
                            <li><a href="achievements.html">ACHIEVEMENTS</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="event-landing-container">
            <div class="page-title"><span>SIG</span></div>
            <div class="page-description">
                <p>
                    BITS-ACM conducts Special Interest Group lectures on various topics ranging from development to
                    competitive coding.
                    These lectures are open for all
                </p>
            </div>
        </div>

        <div>
            <div class="event-section odd-section" id="gamedev">
                <div class="container">
                    <div class="event-title"><span>Game Development</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/gamedev.jpg" alt=""></div>
                    <div class="event-body">
                        <p>The Game Development SIG is a platform for sharing and
                            brainstorming on the content pertaining to software development (In
                            this case the software is with art , audio , gameplay). Unity was used
                            as the game engine. The development of Checkmate was explained in
                            the SIG.</p>
                        <br>
                        <p> Links:
                            <ul>
                            </ul>
                        </p>
                        <p>
                            Next Lecture Date: To be Decided.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section even-section" id="frontend">
                <div class="container">
                    <div class="event-title"><span>Frontend Development</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/frontend.jpg" alt=""></div>
                    <div class="event-body">
                        <p>This SIG aims at instilling interest for website development
                            using various languages (HTML , CSS and JS) and frameworks. Frontend
                            development involves designing the user interface as well as displaying
                            various styles and animations on the elements of the webpage.</p>
                        <p>This series first covers basic aspects of HTML, CSS and later delves into the world of JavaScript.
                            After teaching JavaScript, the lectures introduces the most used JavaScript frameworks such as
                            React and Angular.
                        </p>
                        <br>
                        <p> Links:
                            <ul>
                                <li><a href="https://github.com/ujjwalgandhi/frontend_sig">Lecture 1- Repository</a></li>
                                <li><a href="https://docs.google.com/presentation/d/1rc7yUUKKxkZ-s4Y6PX47pNvp3UCTRAWOKhkGvAeZ8qA/edit?usp=sharing">
                                    Lecture 1- Slides and resources</a></li>
                            </ul>
                        </p>
                        <p>
                            Next Lecture Date: To be Decided.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section odd-section" id="backend">
                <div class="container">
                    <div class="event-title"><span>Backend Development</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/backend.jpg" alt=""></div>
                    <div class="event-body">
                        <p>This SIG involves discussions on the various aspects of backend development.</p>
                        <p>It involves the use and need for a backend, introduction to API's, managing databases
                            and some security features. Backend development in Django is covered.
                        </p>
                        <br>
                        <p> Links:
                            <ul>
                            </ul>
                        </p>
                        <p>
                            Next Lecture Date: To be Decided.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section even-section" id="appdev">
                <div class="container">
                    <div class="event-title"><span>App Development</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/appdev.jpg" alt=""></div>
                    <div class="event-body">
                        <p>This SIG aims at instilling interest for developing apps for
                            platforms like iOS, Android, Windows as well as cross-platform app
                            development. App development involves designing UI libraries for
                            apps and using them as well as developing backend APIs and data
                            structures and implementing them.</p>
                        <br>
                        <p> Links:
                            <ul>
                            </ul>
                        </p>
                        <p>
                            Next Lecture Date: To be Decided.
                        </p>
                    </div>
                </div>
            </div>
            <div class="event-section odd-section" id="machine-learning">
                <div class="container">
                    <div class="event-title"><span>Machine Learning</span></div>
                    <hr>
                    <div class="event-image-container"><img class="event-image" src="./media/gsoc.jpg" alt=""></div>
                    <div class="event-body">
                        <p>Machine learning is one of the basic tools in speech and language processing.</p>
                        <p>This SIG introduces the basic aspects of Deep Learning and Machine Learning. It starts with
                            introduction of Python programming language. The goal of the SIG is to train the
                            participant to a level where they can start teaching themselves the concepts of Deep
                            Learning and Machine Learning.</p>
                        <br>
                        <p> Links:
                            <ul>
                                <li>
                                    <a href="https://bitsacm.github.io/posts/16-05-2018/Beginning-Machine-Learning/">Blog
                                        Post</a>
                                </li>
                            </ul>
                        </p>
                        <p>
                            Next Lecture Date: To be Decided.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-section even-section contact-section-even">
            <div class="about-footer">
                <div class="about-footer-title">
                    <h4>BITS-ACM</h4>
                    <hr>
                    <p>This year BITS-ACM student chapter has 70 core team members and has nurtured more than 650 alumni since
                            its inception in 2008. </p>
                </div>
            </div>
            <div class="follow-us">
                <h4> Follow us on </h4>
                <hr>
                <ul>
                    <li><a href="https://www.facebook.com/bitsacm/"> <img src="./media/facebook.png" alt="facebook"></a></li>
                    <li><a href="https://twitter.com/bitsacm"> <img src="./media/twitter.png" alt="twitter"></a></li>
                    <li><a href="https://github.com/bitsacm"><img src="./media/github-light.png" alt=""></a></li>
                    <li><a href="https://bitsacm.github.io/"> <img src="./media/blogger.png" alt="blog"></a></li>
                </ul>
                <hr>
            </div>
            <div class="contact-us">
                <div>
                    <h4> Where to find us </h4>
                    <p><img src="./media/blue-location.png" height="16px" width="16px" alt=""> BITS Pilani, Vidyavihar
                        Campus, Pilani, Rajasthan, 333031 </p>
                    <hr>
                </div>
                <div>
                    <h4> Email us at </h4>
                    <a class="email-link" href="mailto:bitsacm.acm@gmail.com">
                        <p> <img src="./media/gmail-logo.png" alt=""> bitsacm.acm@gmail.com </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>