<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cms.css' %}">
	
    <title>CMS-Portal</title>
</head>
<body>
    <div class="wrapper">
        <div class="side-bar">
            <div class="title-name">CMS Portal</div>
            <div id="prof-name">
                Prof-name<!-- Proffesor name goes here -->
            </div>
        </div>
        <div class="header">
            <img src="{% static 'media/img/menu.png' %}" class="ham-menu" onclick="menuToggle()">
            <span>Edit FAQ</span>
        </div>
        <div class="content-wrapper">
            <div class="tab-menu">
                <div class="existing-tab">
                    <!-- <span>Professor's Tab</span>
                    <span>Contact Us</span> -->
                </div>
                <input type="button" value="+ Add" id="add-button" class="add-button">
            </div>
            <div id="cms-main">
                <!-- <div class="accordion">About me<span>+</span></div>
                <div class="panel">
                    This is a form.
                </div>
                <div class="accordion">Teaching<span>+</span></div>
                <div class="panel">
                    This is a form.
                </div>
                <div class="accordion">Education<span>+</span></div>
                <div class="panel">
                    This is a form.
                </div>
                <div class="accordion">Research<span>+</span></div>
                <div class="panel">
                    This is a form.
                </div> -->
            </div>
        </div>
    </div>
    <div id="csrf">{{csrf_token}}</div>
    {%csrf_token%}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/cms.js' %}"></script>
    
    
</body>
</html>