body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.side-bar {
    width: 20%;
    height: 100%;
    float: left;
    /* background: #17252A;
     */
     background: #141E30;
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.side-bar > #prof-name {
    color: #c6c6c6;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-size: 2.75em;
}

.side-bar .glyphicon {
    padding-top: 0.7em;
    font-size: 0.7em;
    padding-left: 0.4em;
}

.side-bar > .sidenav-entries {
    font-size: 1.8em;
    color: #fff;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 5vh;
    line-height: 5vh;
}

div.accordion > div:hover {
    /* background-color: #17252A; */
    color: white;
}

.side-bar > .sidenav-entries:hover{
    background-color: #2E9CCA;
    color: #25274D !important;
}

.side-bar > .sidenav-entries:hover {
    color: #2E9CCA;
}

.title-name {
    width: 100%;
    height: 10%;
    /* background: #17252A; */
    /* background: #26324e; */
    font-size: 2.75em;
    color: #2E9CCA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80%;
    height: 10%;
    float: right;
    background: #2E9CCA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > span {
    color: #25274D;
    margin-left: 50px;
    font-size: 2.75em;
    /* Mudit = idiot */
}

.content-wrapper {
    width: 80%;
    height: 90%;
    float: right;
    overflow: scroll;
}

.tab-menu {
    width: 100%;
    height: 7.5%;
    background: #29648A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.existing-tab {
    height: 100%;
    width: 85%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
}

.tab-menu > .existing-tab > span {
    height: 100%;
    font-size: 1.5em;
    color: rgb(204, 228, 240);
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.25s;
    white-space: nowrap;
}

.tab-menu > .existing-tab > span:hover {
    background: #fff;
    color: #424242;
}

.add-button {
    font-size: 1.5em;
    background: #00bfa5;
    border: 0;
    color: #424242;
    padding: 5px 15px;
    margin-right: 2%;
    cursor: pointer;
}

.ham-menu {
    display: none;
}

.accordion {
    width: 100%;
    height: 50px;
    background: lightgray;
    font-size: 1.75em;
    padding: 2.5px 20px;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion:hover {
    background: gray;
}

.accordion > span {
    margin-right: 50px;
}

.panel {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0;
    font-size: 1.75em;
    overflow: hidden;
    display: none;
    margin: 2vh 6vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel > div {
    padding: 10px 20px;
}

#add-button {
    display: none;
}

#add-button:hover {
    background-color: #17252A;
    color: white
}

.panel textarea{
    border-radius: 5px;
    width: 100%;
    padding: 12px;
}

.panel button{
    position: relative;
    margin-left: 5vw;
}

.panel input[type="file"]{
    display: inline;
}

.glyphicon text{
    display: none;
}

.accordionControl span {
    padding: 0 20px;
}


/* --------------------------------------------------------------------------------------------- */
@media all and (max-width: 1200px) {
    .side-bar {
        width: 25%;
    }

    .header, .content-wrapper {
        width: 75%;
    }

    .title-name {
        font-size: 2.75em;
        
        
    }

    .side-bar > #prof-name {
        font-size: 2.75em;
        /* Mudit = idiot */
    }

    .header > span {
        font-size: 2.75em;
        /* Mudit = idiot */
    }
}




/* ----------------------------------------mobile view-------------------------------------------- */
@media all and (max-width: 600px) {
    .header, .content-wrapper {
        width: 100%;
    }

    .header, .title-name {
        height: 7.5%;
    }

    .header > span {
        margin-left: 0;
        margin-right: 15px;
        font-size: 1.5em;
    }

    .side-bar {
        position: absolute;
        width: 70%;
        transform: translateX(-105%);
        transition: 0.5s ease;
        z-index: 5;
    }

    .title-name {
        width: 95%;
        font-size: 1.5em;
        justify-content: flex-end;
        padding-right: 5%;
    }

    .side-bar > #prof-name {
        font-size: 2em;
    }

    .tab-menu > .existing-tab > span {
        font-size: 1em;
        padding: 0 10px;
    }

    .add-button {
        font-size: 1.2em;
    }

    .ham-menu {
        display: inline;
        margin-left: 15px;
        width: 35px;
        height: 35px;
        z-index: 10;
        transition: 0.5s ease;
    }
    .accordion {
        font-size: 1.25em;
    }
}

